* {
    box-sizing: border-box;
    padding: 5px;
    margin: 0;
}

body {
    background-color: #aaa5a5;
}

p {
    color: #665e55;
    font-size: 18px;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 5px;
    padding-bottom: 10px;

}

main {
    font-family: 'Trebuchet Ms', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: #f5f5dc;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 250px;
}

nav {
    font-family: 'Trebuchet Ms', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}


button {
    background-color: #800080;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15%;
}

a:link {
    text-decoration: none;
    color: #800080;
}

button:hover {
    background-color: #603860;
}

#Questions {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
}